* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

/* hero */
#hero {
  min-height: 100vh;
  background: url(img/banner.svg) center/cover fixed no-repeat;
  display: flex;
  flex-direction: column;
  padding: 0 30px;
}
/* secondary nav */
.secondary-nav {
  padding: 20px 0;
}

.secondary-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.secondary-container {
  padding: 0 20px;
  background: transparent;
  border-bottom: none;
  flex: 0 0 auto;
}

.secondary-container img {
  width: 40px;
  align-self: center;
}

.secondary-links {
  padding: 0 20px;
  flex: 0 0 auto;
  display: flex !important;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-self: center;
}

.secondary-links li {
  flex: 1 0 auto;
  list-style-type: none;
}

.secondary-links a {
  font-family: 'Oswald', sans-serif;
  background: transparent;
  border-radius: 5px;
  padding: 20px 10px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-style: italic;
  font-weight: bold;
  font-size: 14px;
  transition: color 2s ease, background 2s ease, padding 2s ease;
}

.secondary-links a:hover {
  color: #414f6b;
  padding-left: 30px;
}
/* end of secondary nav */

.banner {
  flex: 1 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-card {
  flex: 0 0 90%;
}

.banner-card h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 80px;
  color: #4d4d4d;
  text-transform: uppercase;
  letter-spacing: 6px;
  font-weight: 700;
  line-height: 70px;
  text-align: center;
}

.banner-card span {
  letter-spacing: 9px;
  color: #414f6b;
}

@media screen and (min-width: 992px) {
  .banner h1 {
    text-align: left;
    text-align: center;
  }
}
/* end of hero */

/* nav */
.primary-menu {
  padding: 0 30px;
}

.primary-nav {
  background: #fff;
  padding: 10px 0;
  flex: 0 0 auto;
}

.primary-links {
  list-style-type: none;
  display: none;
}

.primary-links a {
  font-family: 'Oswald', sans-serif;
  display: block;
  padding: 20px 20px;
  font-size: 17px;
  font-style: italic;
  text-transform: uppercase;
  color: #4d4d4d;
  transition: color 2s ease, background 2s ease, padding 2s ease;
}

.primary-links a:hover {
  color: #414f6b;
  padding-left: 30px;
}

.primary-container {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
}

.primary-container img {
  width: 100px;
  align-self: center;
}

.bar1,
.bar2,
.bar3 {
  width: 25px;
  height: 4px;
  margin: 5px;
  background: #404f6b;
  transition: transform 2s ease, opacity 2s ease;
}

.btn {
  padding: 2px;
  display: inline-block;
  border: 2px solid #404f6b;
  cursor: pointer;
  align-self: center;
}

.change .bar1 {
  transform: rotate(-45deg) translate(-7px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: rotate(45deg) translate(-7px, -8px);
}

@media screen and (min-width: 992px) {
  .btn {
    display: none;
  }

  .primary-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .primary-container {
    border-bottom: none;
    flex: 0 0 auto;
  }

  .primary-links {
    padding: 0 20px;
    flex: 0 0 auto;
    display: flex !important;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-self: center;
  }

  .primary-links li {
    flex: 1 0 auto;
  }

  .primary-links a {
    background: transparent;
    text-align: right;
    border-radius: 5px;
    padding: 20px 10px;
  }
}

/* history */
.history {
  height: 100vh;
  padding: 0 60px;
  background: url(img/background-history.png) center/cover no-repeat;
  position: relative;
}

.title-text {
  font-family: 'Oswald', sans-serif;
  font-size: 80px;
  color: #a0a7b5;
  text-transform: uppercase;
}

.title-text span {
  font-size: 30px;
  position: relative;
  top: -15px;
  left: -18px;
  color: #414f6b;
}

.description {
  margin-left: 20px;
  font-weight: 300;
  font-size: 13px;
  letter-spacing: 1.5px;
  line-height: 20px;
}

.history-slider {
  width: 80%;
  position: absolute;
  padding: 30px 60px 0 60px;
  background: rgba(54, 67, 89, 0.5);
  bottom: 0;
}

.owl-nav {
  text-align: center;
}

button.owl-next,
button.owl-prev {
  color: #fff !important;
}

.history-slider img {
  width: 100px;
  margin: 0 auto;
}

@media screen and (min-width: 992px) {
  .description {
    width: 80%;
    margin-left: 47px;
    position: relative;
    top: -20px;
  }
}
/* end of history */

/* climb */
.climb-header {
  padding: 20px 60px;
}

.climb-header .title {
  display: block;
  justify-content: space-between;
  align-items: baseline;
}

@media screen and (min-width: 992px) {
  .climb-header .title {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    position: relative;
  }

  .climb-header .description {
    position: relative;
    top: -50px;
  }
}

#climb {
  min-height: 60vh;
  padding: 0 60px;
  background: url(img/tab-img-one.png) center/cover fixed no-repeat;
  padding-top: 60px;
}

.tab {
  overflow: hidden;
  background-color: #414f6b;
  padding: 0 60px;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  color: #a0a7b5;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
}

.tab button:hover,
.tab button.active {
  background-color: #a0a7b5;
  color: #414f6b;
  text-decoration: underline;
}

.tabcontent {
  display: none;
  padding: 10px 20px;
  width: 315px;
  background: rgba(241, 243, 246, 0.9);
}

.schedule-heading {
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  color: #414f6b;
}

.schedule-content {
  margin-top: 5px;
}

.schedule-content span {
  padding-left: 30px;
}

#third-content {
  padding: 30px 0;
}
/* end of climb */

/* footer */
#footer {
  background: #414f6b;
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#footer p {
  font-size: 16px;
  text-transform: uppercase;
  font-style: italic;
  font-weight: bold;
  color: #63769d;
}
/* end of footer */
